/* 主色*/
$color-primary: #00C6FF;
$color-active:#00DFC7;

/* 辅助色*/
$color-info: #A6AFCD;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

/* 文字*/
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-text-placehoder: #C0C4CC;
$color-text-value:#0CA6FF;

/* 边框*/
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

/* 背景*/
$color-bg: #f8f8f9;
$color-bg-1:#1a1a2373;
$color-bg-2:rgba(71,83,108,0.2);
$color-bg-3:rgb(26,26,35);

/*白色*/
$color-white:white;
/*label颜色*/
$color-label:#aaa;
$color-text-label:#A6AFCD;

/*边框阴影*/
 $box-shadow:rgba(252, 104, 104, 0.3);

/**黄颜色**/
$color-yellow:#FFB005;
/**红颜色**/
$color-red:#FF421D;
/**列表选中背景色**/
$color-list_bg:#0367A6;
$map_popup_bg:rgba(3, 12, 32, 0.74);
$map_popup_border:rgb(42, 76, 162);

 /**总览界面*/
.overview-left-div .el-card{
    background-color: $color-bg-3;
    color: $color-white;
    // border: 1px solid $color-primary;
    border:none;
    .el-card__header{
      padding:0 0 10px 0;
      border:none;
    }
  };

/**
设备点位样式
**/
@mixin flex($direction,$justify,$align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@keyframes warn {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes warn1 {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
}
.container {
  @include flex(row, center,center);
  position: relative;
  width: 15px;
  height: 15px;
  left: 10px;
  top: 10px;
}
/* 保持大小不变的小圆点 */
.dot {
  @include flex(row, center,center);
  position:absolute;
  width: 7px;
  height: 7px;
  // left: 0;
  // top: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #33ccff;
  border-radius: 50%;
  background-color: #33ccff; /* 实心圆 ，如果没有这个就是一个小圆圈 */
  z-index: 2;
}
.dot_red{
  background-color: #c80101;
}
.dot_orange{
  background-color: #ff6000;
}
.dot_yellow{
  background-color: #f1c600;
}
.dot_green{
  background-color: #44b011;
}
/* 产生动画（向外扩散变大）的圆圈 第一个圆 */
.pulse {
  @include flex(row, center,center);
  position:absolute;
  width: 35px;
  height: 35px;
  // left: -10px;
  // top: -10px;
  border: 2px solid #3399ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
 transform: scale(0.5);
  /* opacity: 0;
  -webkit-animation: warn 2s ease-out;
  -moz-animation: warn 2s ease-out;
  animation: warn 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */
  
}
.pulse_red{
  border-color: #c80101;
  box-shadow: 1px 1px 30px #c80101;
}
.pulse_orange{
  border-color: #ff6000;
  box-shadow: 1px 1px 30px #ff6000;
}
.pulse_yellow{
  border-color: #f1c600;
  box-shadow: 1px 1px 30px #f1c600;
}
.pulse_green{
  border-color: #44b011;
  box-shadow: 1px 1px 30px #44b011;
}
/* 产生动画（向外扩散变大）的圆圈 第二个圆 */
.pulse1 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: -100%;
  top: -100%;
  border: 2px solid #3399ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  /* opacity: 0;
  -webkit-animation: warn1 2s ease-out;
  -moz-animation: warn1 2s ease-out;
  animation: warn1 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */
}
.pulse1_red{
  border-color: #c80101;
  box-shadow: 1px 1px 30px #c80101;
}
.pulse1_orange{
  border-color: #ff6000;
  box-shadow: 1px 1px 30px #ff6000;
}
.pulse1_yellow{
  border-color: #f1c600;
  box-shadow: 1px 1px 30px #f1c600;
}
.pulse1_green{
  border-color: #44b011;
  box-shadow: 1px 1px 30px #44b011;
}
