/* 主色*/
$color-primary: #00C6FF;
$color-active:#00DFC7;

/* 辅助色*/
$color-info: #A6AFCD;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

/* 文字*/
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-text-placehoder: #C0C4CC;
$color-text-value:#0CA6FF;

/* 边框*/
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

/* 背景*/
$color-bg: #f8f8f9;
$color-bg-1:#1a1a2373;
$color-bg-2:rgba(71,83,108,0.2);
$color-bg-3:rgb(26,26,35);

/*白色*/
$color-white:white;
/*label颜色*/
$color-label:#aaa;
$color-text-label:#A6AFCD;

/*边框阴影*/
 $box-shadow:rgba(252, 104, 104, 0.3);

/**黄颜色**/
$color-yellow:#FFB005;
/**红颜色**/
$color-red:#FF421D;
/**列表选中背景色**/
$color-list_bg:#0367A6;
$map_popup_bg:rgba(3, 12, 32, 0.74);
$map_popup_border:rgb(42, 76, 162);

 /**总览界面*/
.overview-left-div .el-card{
    background-color: $color-bg-3;
    color: $color-white;
    // border: 1px solid $color-primary;
    border:none;
    .el-card__header{
      padding:0 0 10px 0;
      border:none;
    }
  };

  $_1:#556B2F;
  $_2:#00FFFF;
  $_3:#0000EE;
  $_4:#8A2BE2;
  $_5:#c48f58;
  $_6:#6bac91;
  $_7:#5ad2a0;
  $_8:#f18a52;
  $_9:#656bd4;
  $_10:#7ca0cd;
  $_11:#88b7dc;
  $_12:#a08bd3;
  $_13:#be7fcd;
  $_14:#30a2c4;
  $_15:#c0ccd7;
  $_16:#dbddab;
  $_17:#9cd076;
  $_18:#69b38b;
  $_19:#437fb9;
  $_20:"rgb(255, 143, 109)"