/* 公共 */
@import './color.scss';
@import './base.css';
/* top */
.topbar-bar .el-menu,.topbar-bar .el-submenu ,.topbar-bar .el-menu-item,.topbar-bar .el-submenu .el-submenu__title{
  height: 4vh;
  line-height: 4vh;
  float: left;
  color: #BEC5DE;
  width: 100%;
  font-size:20px;
}
.topbar-bar .el-submenu .el-submenu__title:active{
  border:none;
}
.topbar-bar .el-submenu:focus, .topbar-bar .el-submenu .el-submenu__title:focus,.topbar-bar .el-menu-item:focus{
    outline: 0;
  }
:focus {outline: 0;}
.topbar-bar .el-submenu.is-active .el-submenu__title{
  color:#00C6FF;
}
.topbar-bar .el-submenu .el-submenu__title:hover,.topbar-bar .el-menu-item:hover {
  background-color: transparent;
  border-bottom: 1px solid #00C6FF;
  color:#00C6FF;
  /* color: #004272; */
}
.topbar-bar .el-menu.el-menu--horizontal{
  background-color: transparent;
  border: none;
}
.topbar-bar .el-menu--horizontal li{
  margin: 0 10px;
  /* background-color: #3a3c4c; */
  color: #BEC5DE;
  width: 14vh;
  font-size:20px;
}
.topbar-bar .el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{
  outline: 0;
  color: #00C6FF;
}
/*菜单-子级*/
.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
  background-color: #3a3c4c;
  float: none;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  color: #efefef;
}
.el-menu--popup-bottom-start{
  background-color: #000;
}
.el-menu--horizontal .el-menu .el-menu-item.is-active, .el-menu--horizontal .el-menu .el-submenu.is-active>.el-submenu__title{
  color:#00C6FF;
}
.el-menu--horizontal .el-menu-item:hover {
  /* background-color: #3a8ee6; */
  border-bottom: 1px solid #00C6FF;
  color:#00C6FF;
}
.el-menu-item:focus{
  background-color: transparent;
}
.topbar-bar .el-menu--horizontal li.is-active,.el-menu--horizontal .el-menu-item.is-active{
  /* background-color: #3a8ee6; */
  border-bottom: 2px solid #00C6FF;
  color:#00C6FF;
}

/*巡航*/
/*警情检测*/
.el-tabs__item{color:white;}
.el-tabs__nav-wrap::after{
  background-color: white;
}

/*el样式改写*/
.el-table, .el-table__expanded-cell,.el-table th, .el-table tr {
  background-color: transparent;color:white;
}
.el-table tr:nth-child(odd) td{ 
  background:rgba(72,84,108,0.2);color:white;
}
.el-table--enable-row-hover .el-table__body tr:hover>td, .el-table__body tr.hover-row>td,.el-table__body tr.hover-row>td{
background-color: #0367A6;
color:white;
}

.el-input__inner,.el-range-editor .el-range-input {
  background: #0A173A;
  color:white;
}
.el-date-editor .el-range-separator{
color:white;
}
.el-picker-panel,.el-dialog{
  color: white;
  background-color: #282d27eb;
}
.el-range-editor.el-input__inner{
  height:3vh;
  line-height:3vh;
  border-color: #27438B;
}
.el-date-editor .el-range__icon{
line-height:2vh;
}
.el-date-editor .el-range-separator{
line-height:2vh;
}
.el-button{
  height:3vh;
  line-height:0.4;
}
.el-button--primary {
  color: #FFF;
  background-color: #047DC2;
  border-color: #047DC2;
}
.el-submenu__icon-arrow{
  right:4px;
}
.el-icon-arrow-down:before{
  color:white;
  font-size:14px;
  font-weight:700;
}
.topbar-bar .el-submenu.is-active .el-icon-arrow-down:before{
  color:#00C6FF;
}
.el-table td, .el-table th.is-leaf {
  border-bottom:none;
}
.el-tabs__nav-wrap::after {
  background-color: transparent;
}
.el-table::before {
  content: none;
}
.el-table__fixed::before {
  content: none;
}
.el-select-dropdown__item, .el-select-dropdown__item{
  background-color: transparent;
  color:white;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #0367A6;
  color:white;
}
.el-scrollbar,.el-popper[x-placement^=bottom]{
  border:none;
  margin-top:2px;
  width:124px;
  background-color: transparent;
}
.el-popper[x-placement^=bottom] .popper__arrow{
  display:none;
}
.el-select-dropdown__list{padding:0;}
/*el样式改写 --END*/

/*登陆单独界面样式改写*/
/* .page-login .el-input__inner,.el-range-editor .el-range-input {
  background: white;
  color:black;
} */
.page-login .el-card {
  border: none;
  background-color: transparent;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
.page-login .el-form-item{
  width:75%;
  margin: 1.5vh 10% 1.5vh 15%;
  background: #0A173A;
}
.page-login .el-input-group__prepend,.page-login .el-input-group__append{
  background-color: transparent;
  border: none;
}
.page-login .el-input__inner{
  border:none;
}
/*单独界面样式改写 --END*/

/**
*公共样式
**/
.el-table th{
  /* color:#1D99AB; */
  color:#a6afcd;
  font-size: 16px;
}
.el-table .sort-caret.descending{
  border-top-color: #1D99AB;
  font-size: 16px;
}
.el-table .sort-caret.ascending{
  border-bottom-color: #1D99AB;
  font-size: 16px;
}
.boxstyle{
  /* background: url('../images/box_bg.png') no-repeat !important; */
  background: url('../images/border.png') no-repeat;
  background-size: 100% 100%;
}
.borstyle{
  background: url('../images/box_bg.png') no-repeat ;
  background-size: 100% 100%;
}
#map .minemap-popup-content{
  background-color: rgba(3, 12, 32, 0.74);
  border:1px solid rgb(42, 76, 162);
  font-family: 'SourceHanSansCN';
  padding:4px 13px;
}
#map .minemap-popup-tip{
  border-top-color: rgba(3, 12, 32, 0.74);
}

.el-message-box {
  background-color: #01245d;
  border: 1px solid #0361f9;
  font-size: .9vw;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.el-message-box__title {
  color: #e6a23c;
}
.el-message-box__content {
  color: #ecf5ff;
}
.el-message-box__btns button{
  color:white;
}
.el-message-box__btns .el-button{
  background: #0c46a4;
  border:none;
}
.el-message-box__btns .el-button:hover{
  background: #1355be;
  color:#409eff;
}
.el-dropdown-menu{
  background-color: #01245d;
  color:white;
  border-color: #3b91ee;
}
.el-dropdown-menu .el-dropdown-menu__item{
  color:white;
}