/* 公共 */
@import './color.scss';
@import './base.css';
/* top */
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{
  background: #545a8a;
  color:#00C6FF;
}
.topbar-bar .el-menu,.topbar-bar .el-submenu ,.topbar-bar .el-menu-item,.topbar-bar .el-submenu .el-submenu__title{
  height: 4vh;
  line-height: 4vh;
  float: left;
  color: #BEC5DE;
  width: 100%;
  font-size:20px;
}
.topbar-bar .el-submenu .el-submenu__title:active{
  border:none;
}
.topbar-bar .el-submenu:focus, .topbar-bar .el-submenu .el-submenu__title:focus,.topbar-bar .el-menu-item:focus{
    outline: 0;
  }
:focus {outline: 0;}
.topbar-bar .el-submenu.is-active .el-submenu__title{
  color:#00b6e8;
}
.topbar-bar .el-submenu .el-submenu__title:hover,.topbar-bar .el-menu-item:hover {
  background-color: transparent;
  border-bottom: 1px solid #00C6FF;
  color:#00C6FF;
  /* color: #004272; */
}
.topbar-bar .el-menu.el-menu--horizontal{
  background-color: transparent;
  border: none;
}
.topbar-bar .el-menu--horizontal li{
  margin: 0 10px;
  /* background-color: #3a3c4c; */
  color: #BEC5DE;
  width: 14vh;
  font-size:20px;
}
.topbar-bar .el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{
  outline: 0;
  color: #00C6FF;
}
.el-loading-mask{
  background: transparent;
}
/*菜单-子级*/
.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
  background-color: #3a3c4c;
  float: none;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  color: #efefef;
}
.el-menu--popup-bottom-start{
  background-color: #000;
}
.el-menu--horizontal .el-menu .el-menu-item.is-active, .el-menu--horizontal .el-menu .el-submenu.is-active>.el-submenu__title{
  color:#00C6FF;
}
.el-menu--horizontal .el-menu-item:hover {
  /* background-color: #3a8ee6; */
  border-bottom: 1px solid #00C6FF;
  color:#00C6FF;
}
.el-menu-item:focus{
  background-color: transparent;
}
.topbar-bar .el-menu--horizontal li.is-active,.el-menu--horizontal .el-menu-item.is-active{
  /* background-color: #3a8ee6; */
  border-bottom: 2px solid #00C6FF;
  color:#00C6FF;
}
.el-date-range-picker .el-picker-panel__body {
  background: #282d27eb;
}
.el-date-table td.in-range div{
  background: #3c413beb;
}
/*巡航*/
/*警情检测*/
.el-tabs__item{color:white;}
.el-tabs__nav-wrap::after{
  background-color: white;
}

/*el样式改写*/
.el-table, .el-table__expanded-cell,.el-table th, .el-table tr {
  background-color: transparent;color:white;
}
.el-table tr:nth-child(odd) td{
  background:rgba(72,84,108,0.2);color:white;
}

.el-table--enable-row-hover .el-table__body tr:hover>td, .el-table__body tr.hover-row>td,.el-table__body tr.hover-row>td,.el-table__body tr.current-row>td{
background-color: #0367A6;
color:white;
}

.el-input__inner,.el-range-editor .el-range-input {
  background: #0A173A;
  color:white;
}
.el-date-editor .el-range-separator{
color:white;
}
.el-picker-panel,.el-dialog{
  color: white;
  background-color: #282d27eb;
}
.el-range-editor.el-input__inner{
  height:3vh;
  line-height:3vh;
  border-color: #27438B;
}
.el-date-editor .el-range__icon{
line-height:2vh;
}
.el-date-editor .el-range-separator{
line-height:2vh;
}
.el-button{
  height:3vh;
  line-height:0.4;
}
/* .el-button{
  height:4vh;
  padding: 0.3vh 0;
} */
.el-button--primary {
  color: #FFF;
  background-color: #047DC2;
  border-color: #047DC2;
}
.el-submenu__icon-arrow{
  right:4px;
}
.el-icon-arrow-down:before{
  color:white;
  font-size:14px;
  font-weight:700;
}
.topbar-bar .el-submenu.is-active .el-icon-arrow-down:before{
  color:#00C6FF;
}
.el-table td, .el-table th.is-leaf {
  border-bottom:none;
  text-align: center;
}
.el-tabs__nav-wrap::after {
  background-color: transparent;
}
.el-table::before {
  content: none;
}
.el-table__fixed::before {
  content: none;
}
.el-select-dropdown__item, .el-select-dropdown__item{
  background-color: transparent;
  color:white;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #0367A6;
  color:white;
}
.el-scrollbar,.el-popper[x-placement^=bottom]{
  border:none;
  margin-top:2px;
  width:124px;
  background-color: transparent;
}
.el-popper[x-placement^=bottom] .popper__arrow{
  display:none;
}
.el-select-dropdown__list{padding:0;}
/*el样式改写 --END*/

/*登陆单独界面样式改写*/
/* .page-login .el-input__inner,.el-range-editor .el-range-input {
  background: white;
  color:black;
} */
.page-login .el-card {
  border: none;
  background-color: transparent;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
.page-login .el-form-item{
  width:75%;
  margin: 1.5vh 10% 1.5vh 15%;
  background: #0A173A;
}
.page-login .el-input-group__prepend,.page-login .el-input-group__append{
  background-color: transparent;
  border: none;
}
.page-login .el-input__inner{
  border:none;
}
.page-login .el-input .el-input__clear:hover,.page-login .el-input .el-input__clear {
  color: #0254f9;
}
.page-login .el-input .el-icon-view::before,.page-login .el-input .el-icon-minus::before{
  color:#0A94FD;
}
/*单独界面样式改写 --END*/

/**
*公共样式
**/
.el-table th{
  /* color:#1D99AB; */
  color:#a6afcd;
  font-size: 16px;
}
.el-table .sort-caret.descending{
  border-top-color: #1D99AB;
  font-size: 16px;
}
.el-table .sort-caret.ascending{
  border-bottom-color: #1D99AB;
  font-size: 16px;
}
.boxstyle{
  /* background: url('../images/box_bg.png') no-repeat !important; */
  background: url('../images/box_bg.png') no-repeat;
  background-size: 100% 100%;
}
.borstyle{
  background: url('../images/box_bg.png') no-repeat ;
  background-size: 100% 100%;
}
#map .minemap-popup-content{
  background-color: rgba(3, 12, 32, 0.74);
  border:1px solid rgb(42, 76, 162);
  font-family: 'SourceHanSansCN';
  padding:4px 13px;
}
#map .minemap-popup-tip{
  border-top-color: rgba(3, 12, 32, 0.74);
  border-bottom-color: rgba(3, 12, 32, 0.74);
}
<<<<<<< HEAD
=======
#map .no-pointer{
  cursor: none;
}

>>>>>>> 3bd5dd8650fee45ea12259d64bfac57b0123a47a
.el-message-box {
  background-color: #01245d;
  border: 1px solid #0361f9;
  font-size: .9vw;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.el-message-box__title {
  color: #e6a23c;
}
.el-message-box__content {
  color: #ecf5ff;
}
.el-message-box__btns button{
  color:white;
}
.el-message-box__btns .el-button{
  background: #0c46a4;
  border:none;
}
.el-message-box__btns .el-button:hover{
  background: #1355be;
  color:#409eff;
}
.el-dropdown-menu{
  background-color: #01245d;
  color:white;
  border-color: #3b91ee;
}
.el-dropdown-menu .el-dropdown-menu__item{
  color:white;
}
/**
设备点位样式
**/
@mixin flex($direction,$justify,$align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@keyframes warn {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes warn1 {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
}
.dot_marker{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 15px;
  height: 15px;
  left: 10px;
  top: 10px;
}
.dot_marker_red{
  width: 50px;
  height: 50px;
}
.dot_marker_orange{
  width: 35px;
  height: 35px;
}
.dot_marker_yellow{
  width: 20px;
  height: 20px;
}
.dot_marker_green{
  width: 15px;
  height: 15px;
}
/* 保持大小不变的小圆点 */
.dot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #33ccff;
  border-radius: 50%;
  background-color: #33ccff; /* 实心圆 ，如果没有这个就是一个小圆圈 */
  z-index: 2;
}
.dot_red{
  width: 14px;
  height: 14px;
  border-color: #c80101;
  background-color: #c80101;
}
.dot_orange{
  width: 12px;
  height:12px;
  border-color: #ff6000;
  background-color: #ff6000;
}
.dot_yellow{
  width: 8px;
  height:8px;
  border-color: #f1c600;
  background-color: #f1c600;
}
.dot_green{
  width: 5px;
  height: 5px;
  border-color: #44b011;
  background-color: #44b011;
}
/* 产生动画（向外扩散变大）的圆圈 第一个圆 */
.pulse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:absolute;
  border: 2px solid #3399ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.8;
  /* transform: scale(0.5); */
  /*
  -webkit-animation: warn 2s ease-out;
  -moz-animation: warn 2s ease-out;
  animation: warn 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */
  
}
.pulse_red{
  width:27px;
  height:27px;
  border-color: #c80101;
  box-shadow: 1px 1px 10px #c80101;
}
.pulse_orange{
  width:22px;
  height:22px;
  border-color: #ff6000;
  box-shadow: 1px 1px 13px #ff6000;
}
.pulse_yellow{
  width:16px;
  height:16px;
  border-color: #f1c600;
  box-shadow: 1px 1px 16px #f1c600;
}
.pulse_green{
  width:12px;
  height:12px;
  border-color: #44b011;
  box-shadow: 1px 1px 20px #44b011;
}
/* 产生动画（向外扩散变大）的圆圈 第二个圆 */
.pulse1 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: -100%;
  top: -100%;
  border: 2px solid #3399ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  /* opacity: 0;
  -webkit-animation: warn1 2s ease-out;
  -moz-animation: warn1 2s ease-out;
  animation: warn1 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */
}
.pulse1_red{
  border-color: #c80101;
  box-shadow: 1px 1px 30px #c80101;
}
.pulse1_orange{
  border-color: #ff6000;
  box-shadow: 1px 1px 30px #ff6000;
}
.pulse1_yellow{
  border-color: #f1c600;
  box-shadow: 1px 1px 30px #f1c600;
}
.pulse1_green{
  border-color: #44b011;
  box-shadow: 1px 1px 30px #44b011;
}
